<div id='table'>

    <div *ngIf="bankingItemsDisplay.length > 0">
        <mat-toolbar>
          <span class="sumlabel">Summe: {{totalSum | currency: "EUR"}}</span>
        </mat-toolbar>
    
        <mat-table [dataSource]="bankingItemsDisplay">
    
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Amount | currency: "EUR"}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="paymentType">
                <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.PaymentType}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Date | date}} </mat-cell>
              </ng-container>
            
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        
        
        </mat-table>
    
        <mat-paginator [length]="bankingItems.length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" (page)="updateList($event)"></mat-paginator>
    </div>
    <div *ngIf="bankingItemsDisplay.length === 0">
      <mat-toolbar>
        <span class="sumlabel">No entries found</span>
      </mat-toolbar>
    </div>

</div>