<div>

    <h1>New bill</h1>

    <table>

        <tr class="formrow">
            <td>
                <mat-form-field class="inputelement">
                    <mat-label>Description</mat-label>
                    <textarea matInput required [(ngModel)]="description"></textarea>
                </mat-form-field>            
            </td>
        </tr>

        <tr class="formrow">
            <td>
                <mat-form-field class="inputelement">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput required [(ngModel)]="amount">
                </mat-form-field>
            </td>
        </tr>

        <tr class="formrow">
            <td>
                <mat-radio-group class="inputelement">
                    <mat-radio-button [value]="'Cash'" class="radio-button" (change)="onRadioChange($event)" checked>Cash</mat-radio-button>
                    <mat-radio-button [value]="'Card'" class="radio-button" (change)="onRadioChange($event)">Card</mat-radio-button>
                    <mat-radio-button [value]="'SEPA'" class="radio-button" (change)="onRadioChange($event)">Bank transfer</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>

        <tr class="formrow">
            <td>
                <mat-form-field class="inputelement">
                    <input matInput [matDatepicker]="datePicker" placeholder="Date" required>
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>

        <tr class="formrow">
            <td>
                <button class="inputelement" mat-raised-button (click)="insert()">Add</button>
            </td>
        </tr>

    </table>

</div>